@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}
/* dark-2 */
.text-gray{
    color: #424242;
   
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

/* dark-3 */
.text-light-gray{
    color: #727272;
}

.btn-primary{
    height: 64px;
    width: 180px;
    padding:20px 25px;
    font-size:1.25rem;
    border-radius: 8px;
    border:none;
    background-color: rgba(255, 144, 14, 1);
    color: white;
    font-weight: 300;


}


.section-title{
    font-weight: 300;
    font-size: 2.2rem;
}

main{
    max-width: 1000px;
    margin: 0 auto;
}


/* header styles */

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;

}
.nav-items{
    list-style: none;
    margin-right: 50px;
    
}
.nav-links{
    
    
}
.navbar, .banner{
    max-width: 1000px;
    margin:0 auto;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}

.banner-content{
    max-width: 560px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
    max-width: 1000px;
    
    
    
}
.banner-image-padding{
  
    display: flex;
    
    justify-content: center;
}

/* main */

.features{
    display: flex;
    align-items: center;
    margin-top: 65px;
    gap:60px;
    max-width: 1000px;
    
    
}
.team-img-container{
    width:55%;
}
.features-container{
    width:30%;

}
.team-img-container img{
    max-width: 100%;

}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    flex:1;
    
    
    
    
}
.features-container{
    flex:1;
}
.features div{
    flex:1;
}

/* facts */


.some-facts{
    margin-top: 130px;
}

.card-container{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.facts-card{
    border: 2px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    width:200px;
    height: 200px;
    display: flex;
    text-align: center;
    
    justify-content: center;
    align-items: center;
   
}

.facts-no{

    font-weight: 600;
    font-size:2.4rem;
    margin: 0px;
    padding: 0px;
}
.facts-writting{
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}
.facts-description{
    max-width: 440px;
}

/* sponspor */

.sponspor{
   
    margin-top: 150px;
    
}
.sponspors{
    max-width: 450px;
    margin: 0px auto;
    text-align: center;
}

.sponspors .section-title{
    margin-bottom: 24px;
}
.sponsor-company{
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

.sponsor-company img{
    filter: grayscale(100%);
    max-width: 130px;
    
}

/* features you */
#feature-title-id{
    border-left: 5px solid #FF900E;
    padding: 15px;
}
.feature-card{
    padding: 25px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
}
.feature-card > .feature-title{
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 0px;
    margin-bottom: 0px;


}
.feature-you{
    gap:120px;
    margin-top: 130px;
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    width:342px;
    height: 200px;
    margin-left: -80px;
    margin-top: -90px;
}
.experience-years{
    font-size: 4rem;
    font-weight: 900;
}

button #experience-badge{
    width: 342px;

}

.feature-child{
    width:45%;
}
.feature-child-1{
    width: 45%;
}
.feature-child-1 img{
    max-width: 100%;
}

/* responsive media query */
@media screen and (max-width: 576px){
    .navbar, .nav-links, .features,.feature-you{
        flex-direction: column;
    }
    .team-img-container, .card-container, .sponsor-company{
        grid-template-columns: 1fr;
        max-width: 100%;
        
    }
    .features{
        align-items: center;
    }
    .team-img-container {
        width:100%;
    }
    .features-container{
        width:100%;
    
    }
    .team-img-container img{
        max-width: 100%;
    }
    .card-container,.sponsor-company{
        justify-items: center;
        gap:20px;
    }
    .facts-card{
        margin-bottom: 30px;
    }
    #experience-badge{
        margin-left: 0px;
        margin-top: 20px;
    }
    .img-architect img{
        width:100%;
    }
    .feature-child,.feature-child-1{
        width: 100%;
    }
    

}
